*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background:#000000;
}
body.light
{
background: #d1dae3;
}
.clock
{
    width: 350px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(clock.png);
    background-size: cover;
    border: 4px solid #9e0000;
    border-radius: 50%;
    box-shadow: 0 -15px 15px rgba(255,255,255, 0.05),
               inset   0 -15px 15px rgba(255,255,255, 0.05),
               0 -15px 15px rgba(0,0,0, 0.3),
               inset 0 -15px 15px rgba(0,0,0, 0.3);
}
body.light .clock{
    background:  #d1dae3 url(clock.png);
    background-size: cover;
    border: 4px solid #cad3dc;
    box-shadow: -8 -8px 15px rgba(255,255,255, 0.5),
                10 10px 10px rgba(0,0,0, 0.3),
               inset   -8 -8px 15px rgba(255,255,255, 0.5),
   
                inset 10 10px 10px rgba(0,0,0, 0.3);
}
body.light .clock::before {
    background: #008eff;
}
.clock::before
{
    content:'';
    position: absolute;
    width: 15px;
    height: 15px;
   
  background: #fff;
    z-index: 100000;
    border-radius: 50%;
}
.clock .hour,
.clock .min,
.clock .sec
{
position: absolute;
}
.clock .hour, .hr
{
width: 160px;
height: 160px;
}
.clock .min, .mn
{
width: 190px;
height: 190px;
}
.clock .sec, .sc
{
width: 230px;
height: 230px;
}
.hr,.mn,.sc
{
display: flex;
justify-content: center;
position: absolute;
border-radius: 50%;
}
.hr::before
{
    content: '';
    position: absolute;
    width: 8px;
    height: 80px;
    background: #ff105e;
    z-index: 10;
    border-radius: 6px 6px 0 0;
}
body.light .mn::before{
    background: black;
}
.mn::before
{
    content: '';
    position: absolute;
    width: 4px;
    height: 90px;
    background: #fff;
    z-index: 11;
    border-radius: 6px 6px 0 0;
}
.sc::before
{
    content: '';
    position: absolute;
    width: 2px;
    height: 150px;
    background: #ff6767;
    z-index: 12;
    border-radius: 6px 6px 0 0;
}
.toggle{
    position: absolute;
top: 30px;
right: 150px;
width: 20px;
height: 20px;
font-size: 18px;
border-radius: 50%;
background: #d1dae3;
color: #d1dae3;
cursor: pointer;
}
.toggleclass{
    position: absolute;
    top: 30px;
    right: 150px;
    width: 20px;
    height: 20px;
    font: 18px;
border-radius: 50%;
color: white;
background: white;
font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
cursor: pointer;
display: flex;
align-items: center;
}
.toggleclass:before{
    position: absolute;
    content: 'Light';
    white-space: nowrap;
left: 25px;
}
body.light .toggleclass{
    background: #000000;
    color: #000000;
}
body.light .toggleclass:before{
  content: 'Dark';
  
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(255, 116, 116);
    color: white;
    text-align: center;
  }

  a {
    color: rgb(0, 0, 0);
}

a:hover {
    color: rgb(255, 255, 255);
}